.App {
  text-align: center;
}

.board {
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.add {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(850px, 550px);
}

.go {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 100px;
  background: rgb(255, 0, 0);
  transform: translate(550px, 550px);
  z-index: 100;
}

.br1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(79, 29, 0);
  transform: translate(500px, 550px);
}

.cc1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 98, 255);
  transform: translate(450px, 550px);
}

.br2 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(79, 29, 0);
  transform: translate(400px, 550px);
}

.tax1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 127, 78);
  transform: translate(350px, 550px);
}

.stat1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(103, 103, 103);
  transform: translate(300px, 550px);
}

.lb1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 152, 163);
  transform: translate(250px, 550px);
}

.ch1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(255, 132, 0);
  transform: translate(200px, 550px);
}

.lb2 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 152, 163);
  transform: translate(150px, 550px);
}

.lb3 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 152, 163);
  transform: translate(100px, 550px);
}

.jail {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 100px;
  background: rgb(200, 90, 0);
  transform: translate(0px, 550px);
}



.gojail {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 100px;
  background: rgb(0, 140, 255);
  transform: translate(550px, 0px);

}

.yel3 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(223, 204, 0);
  transform: translate(500px, 0px);
}

.ww {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(0, 109, 177);
  transform: translate(450px, 0px);
}

.yel2 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(223, 204, 0);
  transform: translate(400px, 0px);
}

.yel1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(223, 204, 0);
  transform: translate(350px, 0px);
}

.stat3 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(103, 103, 103);
  transform: translate(300px, 0px);
}

.red3 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(209, 0, 0);
  transform: translate(250px, 0px);
}

.red2 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(209, 0, 0);
  transform: translate(200px, 0px);
}

.ch2 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(255, 132, 0);
  transform: translate(150px, 0px);
}

.red1 {
  border-radius: 8px;
  position: inherit;
  width: 50px;
  height: 100px;
  background: rgb(209, 0, 0);
  transform: translate(100px, 0px);
}

.fp {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 100px;
  background: rgb(253, 83, 83);
  transform: translate(0px, 0px);
}

.pin1 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(220, 0, 136);
  transform: translate(0px, 500px);

}

.elec {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(255, 208, 0);
  transform: translate(0px, 450px);
}

.pin2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(220, 0, 136);
  transform: translate(0px, 400px);
}

.pin3 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(220, 0, 136);
  transform: translate(0px, 350px);
}

.stat2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(103, 103, 103);
  transform: translate(0px, 300px);
}

.oran1 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(255, 111, 0);
  transform: translate(0px, 250px);
}

.cc2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(0, 98, 255);
  transform: translate(0px, 200px);
}

.oran2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(255, 111, 0);
  transform: translate(0px, 150px);
}

.oran3 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(255, 111, 0);
  transform: translate(0px, 100px);
}

.gr1 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(34, 145, 0);
  transform: translate(550px, 100px);
}

.gr2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(34, 145, 0);
  transform: translate(550px, 150px);
}

.cc3 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(0, 98, 255);
  transform: translate(550px, 200px);
}

.gr3 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(34, 145, 0);
  transform: translate(550px, 250px);
}

.stat4 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(103, 103, 103);
  transform: translate(550px, 300px);
}

.ch3 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(255, 132, 0);
  transform: translate(550px, 350px);
}

.db1 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(0, 55, 142);
  transform: translate(550px, 400px);
}

.tax2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(0, 127, 78);
  transform: translate(550px, 450px);
}

.db2 {
  border-radius: 8px;
  position: inherit;
  width: 100px;
  height: 50px;
  background: rgb(0, 55, 142);
  transform: translate(550px, 500px);
}

.roll {
  position: inherit;
  background: #c0c0c0;
  transform: translate(770px, 200px);
}

.die2 {
  position: inherit;
  width: 70px;
  height: 70px;
  transform: translate(800px, 100px);
}

.die1 {
  position: inherit;
  width: 70px;
  height: 70px;
  transform: translate(700px, 100px);
}